* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f7fb;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #111;
  color: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #0A84FF;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #0A84FF, #111);
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: white;
  color: #0A84FF;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.services {
  padding: 60px 10%;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
  font-size: 36px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}